<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inward App</title>
</head>
<body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/math">Math</a></li>
                <li><a href="/game">Game</a></li>
            </ul>
            </nav>
            <header>
                <h1>Welcome! You have made <span id="countDisplay">0</span> requests to this website.</h1>
            </header>
            <main>
                <button id="refresh">Refresh</button>
            </main>
    
    <script src="assets/javascript/count.js"></script>
</body>
</html>