<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inward App</title>
</head>
<body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/math">Math</a></li>
                <li><a href="/game">Game</a></li>
            </ul>
            </nav>
            <header>
                <h1>This is a flappy bird like game utilizing p5.js.</h1>
            </header>
            <main>
                <p>Controls: Spacebar is all you need.</p>
            </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/p5.min.js"></script>
    <script src="assets/javascript/flappy/sketch.js"></script>
    <script src="assets/javascript/flappy/bird.js"></script>
    <script src="assets/javascript/flappy/pipe.js"></script>
</body>
</html>